<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action = "/" method = "post">
    Number of doors<br>
        <input type = "text" name = "doors" /> <br>
    Number of simulations <br> 
        <input type = "text" name = "simulations" /> <br>
        <input type = "submit" value = "Submit" />
</form>
